
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~font-awesome/scss/font-awesome";
@import "~select2/dist/css/select2.min.css";

a.navbar-brand {
	color: white !important;
}

.navbar-nav > li > a {
    color: white !important;
}

a {
	color: $brand-purple;
}

a:hover {
	color: white;
}

.nav a:hover {
	background: $brand-purple !important;
}

.panel-heading {
	color: white !important;
}